#segment-header.container {
    background-color: #f7f7f7;
}

div#stripe {
    display: none;
}

.navbar {
    background-color: #f7f7f7;
}

.navbar-inverse .navbar-nav > li > a {
    color: #5e5e5e;
}

#publish-box {
    background-color: #b1ceea;
}

table.colsi td {
    background-color: #c1defa;
}

div.markdown-toc {
    background-color: #d1eeff;
}

#segment-footer {
    background-color: #f5f5f5;
}

div.col-12 p, div.col-12 pre {
    width: 1100px;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000000;
    padding: 4px;
}
